.detail__section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1dbee2;
  width: 500px;
  border-radius: 20px;
  border: solid white 8px;
  &--title {
    font-family: "Ranchers", cursive;
    font-size: 40px;
    color: black;
  }
  &--return {
    background-color: #6de21d;
    width: 120px;
    height: 85px;
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 5px;
  }
}
.detail__section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--img {
    width: 300px;
    border-radius: 15px;
  }
  &--item {
    font-family: "Roboto", sans-serif;
    color: white;
  }
}
