.detail {
  @include flexColumn();
  margin: 40px 0 100px 0;
  &__section1 {
    @include flexColumn();
    background-color: $blueBaby;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: solid $white 8px;
    @media all and (min-width: 768px) {
      width: 400px;
      height: 600px;
    }
    @media all and (min-width: 1200px) {
      width: 500px;
      height: 700px;
    }
    &--header {
      @include flexColumn();
    }
    &--header-return {
      border-style: none;
      outline: none;
      background: $greenRadioactive;
      width: 70px;
      height: 30px;
      font-family: $fontRoboto;
      font-size: 18px;
      color: $white;
      border-radius: 3px;
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.09);
      }
    }
    &--header-title {
      font-family: $fontRanchers;
      font-size: 20px;
      color: $black;
      letter-spacing: 0.4px;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        font-size: 30px;
      }
      @media all and (min-width: 1200px) {
        font-size: 40px;
      }
    }
  }
  &__section2 {
    @include flexColumn();
    &--img {
      width: 200px;
      border-radius: 15px;
      margin-bottom: 15px;
      @media all and (min-width: 768px) {
        width: 300px;
      }
      @media all and (min-width: 1200px) {
        width: 380px;
      }
    }
    &--item {
      display: flex;
      flex-direction: row;
      font-family: $fontRoboto;
      color: $white;
      padding: 7px;
    }
    &--item1 {
      color: $white;
      padding-right: 7px;
    }
    &--item1 {
      color: $black;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}
.not-found {
  @include flexColumn();
  margin: 20px 0 50px 0;
  &__text {
    font-family: $fontRanchers;
    font-size: 27px;
    color: $white;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      font-size: 40px;
    }
  }
  &__gif {
    width: 300px;
    border-radius: 5px;
    margin-top: 30px;
    @media all and (min-width: 768px) {
      width: 600px;
    }
  }
}
