.char__card {
  @include flexColumn();
  width: 200px;
  height: 300px;
  margin: 30px;
  border-radius: 20px;
  background-color: $white;
  border: $greenRadioactive solid 5px;
  @media all and (min-width: 768px) {
    width: 250px;
    height: 350px;
  }

  &--img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 17px;
    @media all and (min-width: 768px) {
      margin-bottom: 20px;
      width: 200px;
    }
  }

  &--name {
    font-family: $fontRanchers;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: $black;
    text-align: center;
    margin-bottom: 7px;
    @media all and (min-width: 768px) {
    }
  }
  &--species {
    font-family: $fontRoboto;
    margin-bottom: 7px;
  }
  &--info {
    @include flexColumn();
    font-family: $fontRoboto;
    color: $white;
    background-color: $blueBaby;
    border-radius: 7px;
    width: 80px;
    height: 30px;
    &:hover {
      transform: scale(1.07);
    }
  }
}
