.filter__section {
  @include flexColumn();
  margin-bottom: 40px;
}
.wrapper__filterName {
  &--title {
    @include flexColumn();
    text-transform: uppercase;
    font-family: $fontRanchers;
    font-size: 30px;
    color: $blueBaby;
    @media all and (min-width: 768px) {
      font-size: 40px;
    }
    @media all and (min-width: 1200px) {
      font-size: 40px;
    }
  }
  &--input {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 15px 0 20px 0;
    border: 2px solid $greenRadioactive;
    background-color: $black;
    font-family: $fontRoboto;
    color: white;
    @media all and (min-width: 768px) {
      width: 350px;
      height: 30px;
    }
  }
  &--input::placeholder {
    color: $white;
  }
}
.wrapper__filterSpecies {
  @include flexRow();
  &--title {
    text-transform: uppercase;
    font-family: $fontRanchers;
    font-size: 27px;
    color: $blueBaby;
    padding-left: 30px;
    margin-bottom: -8px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &--select {
    width: 80px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid $greenRadioactive;
    background: $black;
    font-family: $fontRoboto;
    color: white;
    padding-left: 3px;
    @media all and (min-width: 768px) {
      width: 100px;
      height: 30px;
    }
  }
}
.wrapper_filter_reset {
  @include flexRow();
}
.wrapper__filterStatus {
  @include flexRow();
  margin: 20px 20px 0 0;
  &--title {
    text-transform: uppercase;
    font-family: $fontRanchers;
    font-size: 27px;
    color: $blueBaby;
    padding-left: 30px;
    margin-bottom: -8px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &--option {
    text-transform: uppercase;
    font-family: $fontRoboto;
    font-size: 13px;
    color: $white;
    margin: 10px 0 0 10px;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &--input {
    margin-left: 5px;
  }
}
