.footer {
  @include flexRow();
  border-top: $greenRadioactive solid 2px;
  padding: 15px 15px;
  &__small {
    font-family: $fontRoboto;
    color: $white;
    margin-right: 10px;
  }
  &__line {
    font-family: $fontRoboto;
    font-size: 13px;
    color: $white;
    margin-right: 10px;
  }
  &__github {
    font-family: $fontRoboto;
    font-size: 13px;
    color: $white;
    margin-right: 10px;
  }
}
.github {
  color: $blueBaby;
  &:hover {
    transform: scale(1.3);
  }
}
