.header {
  padding: 40px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 60%;
      @media all and (min-width: 768px) {
        width: 60%;
      }
      @media all and (min-width: 1200px) {
        width: 60%;
      }
    }
  }
}
