@import "core/reset";
@import "layout/header";
@import "layout/filters";
@import "layout/characterList";
@import "layout/characterCard";
@import "layout/characterDetail";

.App {
  width: 100vw;
  height: 100%;
  background-color: black;
}
